In [3]:
import sys

!pip install selenium

Requirement already satisfied: selenium in c:\users\tamim\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\tamim\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\tamim\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\tamim\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\tamim\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: attrs>=20.1.0 in c:\users\tamim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\tamim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\tamim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\tamim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\tamim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: idna in c:\users\tamim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\tamim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\tamim\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\tamim\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\tamim\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\tamim\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [ ]:
import time, os
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [128]:
# Create a new instance of Chrome Options
options = webdriver.ChromeOptions()

# The "--start-maximized" argument tells Chrome to start in maximized mode, 
# i.e., fullscreen. This can be helpful when the visibility or clickability of 
# an element depends on the screen size.
options.add_argument("--start-maximized")

# Pass the options when initializing the webdriver instance. 
# This creates a new instance of the Chrome driver with the specified options.
driver = webdriver.Chrome(options=options)

# Question #1

In [112]:
# Open the naukri.com website
driver.get("http://www.naukri.com/")

# Wait until the search input field is located
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_all_elements_located((By.XPATH, "//input[@class='suggestor-input ']")))

# Input the job title in the search field
driver.find_element(By.XPATH, "//input[@class='suggestor-input ']").send_keys("Data Analyst")

# Input the location in the search field
driver.find_element(By.XPATH, "//input[@placeholder='Enter location']").send_keys("Bangalore")

# Click the search button
driver.find_element(By.XPATH, "//div[@class='qsbSubmit']").click()

# Wait for the search results to load
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_all_elements_located((By.XPATH, "//article[@class='jobTuple']")))

# Initialize an empty list to store job data
job_rows = []

# Get the first 10 job postings
all_jobs = driver.find_elements(By.XPATH, "//article[@class='jobTuple']")[:10]
for job in all_jobs:
    # Extract job title, company name, experience required, and job location
    job_title = job.find_element(By.XPATH, ".//a[@class='title ellipsis']").text
    company_name = job.find_element(By.XPATH, ".//a[@class='subTitle ellipsis fleft']").text
    job_experience = job.find_element(By.XPATH, ".//li[@class='fleft br2 placeHolderLi experience']//span").text
    job_location = job.find_element(By.XPATH, ".//li[@class='fleft br2 placeHolderLi location']//span").text

    # Create a dictionary to store job details
    row = {
        "job_title": job_title,
        "job_location": job_location,
        "company_name": company_name,
        "experience_required": job_experience
    }

    # Append the dictionary to the list
    job_rows.append(row)

# Create a pandas DataFrame from the list of job data
df = pd.DataFrame(job_rows)

# Display the DataFrame
df

,job_title,job_location,company_name,experience_required
0,Data Analyst,Bangalore/Bengaluru,Blooprint Ecom Consulting Service,0-1 Yrs
1,Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Wipro,4-8 Yrs
2,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
3,Data Analyst,Bangalore/Bengaluru,Tata Technologies,1-4 Yrs
4,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
6,Data Analyst,Bangalore/Bengaluru,Pure Storage,5-10 Yrs
7,HCL hiring For GCP Data Analyst,"Bangalore/ Bengaluru, Karnataka, Hyderabad/ Se...",HCLTech,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs
9,Teradata Developer-Data Analyst,"Hybrid - Bangalore/Bengaluru, Pune, Maharashtra",Vodafone,5-10 Yrs

# Question #2

In [113]:
# Open the naukri.com website
driver.get("http://www.naukri.com/")

# Wait until the search input field is located
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_all_elements_located((By.XPATH, "//input[@class='suggestor-input ']")))

# Input the job title in the search field
driver.find_element(By.XPATH, "//input[@class='suggestor-input ']").send_keys("Data Scientist")

# Input the location in the search field
driver.find_element(By.XPATH, "//input[@placeholder='Enter location']").send_keys("Bangalore")

# Click the search button
driver.find_element(By.XPATH, "//div[@class='qsbSubmit']").click()

# Wait for the search results to load
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_all_elements_located((By.XPATH, "//article[@class='jobTuple']")))

# Initialize an empty list to store job data
job_rows = []

# Get the first 10 job postings
all_jobs = driver.find_elements(By.XPATH, "//article[@class='jobTuple']")[:10]
for job in all_jobs:
    # Extract job title, company name, job location, and experience required
    job_title = job.find_element(By.XPATH, ".//a[@class='title ellipsis']").text
    company_name = job.find_element(By.XPATH, ".//a[@class='subTitle ellipsis fleft']").text
    job_location = job.find_element(By.XPATH, ".//li[@class='fleft br2 placeHolderLi location']//span").text
    job_experience = job.find_element(By.XPATH, ".//li[@class='fleft br2 placeHolderLi experience']//span").text

    # Create a dictionary to store job details
    row = {
        "job_title": job_title,
        "job_location": job_location,
        "company_name": company_name,
        "experience_required" : job_experience
    }

    # Append the dictionary to the list
    job_rows.append(row)

# Create a pandas DataFrame from the list of job data
df = pd.DataFrame(job_rows)

# Display the DataFrame
df

,job_title,job_location,company_name,experience_required
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
1,Data Scientist - Senior Associate,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,4-6 Yrs
2,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
3,Senior Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Sophos,4-9 Yrs
4,Senior Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Sophos,5-10 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC,3-6 Yrs
6,Manager Data Scientist,Bangalore/Bengaluru,Visa Inc,6-11 Yrs
7,Data Scientist - Manager - Agent Product,Bangalore/Bengaluru,Paytm,4-5 Yrs
8,Sr Data Scientist,Bangalore/Bengaluru,Wabtec,6-9 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Futurism Technologies,3-7 Yrs

# Question #3

In [114]:
# Open the naukri.com website
driver.get("http://www.naukri.com/")

# Wait until the search input field is located
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_all_elements_located((By.XPATH, "//input[@class='suggestor-input ']")))

# Input the job title in the search field
driver.find_element(By.XPATH, "//input[@class='suggestor-input ']").send_keys("Data Scientist")

# Click the search button
driver.find_element(By.XPATH, "//div[@class='qsbSubmit']").click()

# Wait for the search results to load
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_all_elements_located((By.XPATH, "//article[@class='jobTuple']")))

# Select the filter option for city
driver.find_element(By.XPATH, "//div[@data-filter-id='citiesGid']/div[2]").click()

# Pause execution for 2 seconds to allow the page to load
time.sleep(2)

# Select the filter option for salary
driver.find_element(By.XPATH, "//div[@data-filter-id='salaryRange']/div[2]").click()

# Wait for the search results to load
wait.until(EC.presence_of_all_elements_located((By.XPATH, "//article[@class='jobTuple']")))

# Initialize an empty list to store job data
job_rows = []

# Get the first 10 job postings
all_jobs = driver.find_elements(By.XPATH, "//article[@class='jobTuple']")[:10]
for job in all_jobs:
    # Extract job title, company name, job location, and experience required
    job_title = job.find_element(By.XPATH, ".//a[@class='title ellipsis']").text
    company_name = job.find_element(By.XPATH, ".//a[@class='subTitle ellipsis fleft']").text
    job_location = job.find_element(By.XPATH, ".//li[@class='fleft br2 placeHolderLi location']//span").text
    job_experience = job.find_element(By.XPATH, ".//li[@class='fleft br2 placeHolderLi experience']//span").text

    # Create a dictionary to store job details
    row = {
        "job_title": job_title,
        "job_location": job_location,
        "company_name": company_name,
        "experience_required" : job_experience
    }

    # Append the dictionary to the list
    job_rows.append(row)

# Create a pandas DataFrame from the list of job data
df = pd.DataFrame(job_rows)

# Display the DataFrame
df

,job_title,job_location,company_name,experience_required
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
3,Data Scientist,Noida,Times Internet,3-8 Yrs
4,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
5,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
6,Hiring For Data Scientist,Remote,Infogain,4-9 Yrs
7,Data Scientist,Noida,"SquadRun, Inc",1-4 Yrs
8,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner,2-4 Yrs
9,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs

# Question #4

In [115]:
# Open the flipkart.com website
driver.get("https://www.flipkart.com/")

# Wait until the search input field is located
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_element_located((By.XPATH, "//input[@title='Search for Products, Brands and More']")))

# Input the product name in the search field
driver.find_element(By.XPATH, "//input[@title='Search for Products, Brands and More']").send_keys("sunglasses")

# Click the search button
driver.find_element(By.XPATH, "//button[@type='submit']").click()

# Initialize an empty list to store product data
sunglass_products = []

# Loop until 100 products have been collected
while True:
    # Wait for the product listings to load
    wait.until(EC.presence_of_all_elements_located((By.XPATH, "//div[@style='transform: translate3d(0px, 0px, 0px);']")))

    # Get all the product listings on the page
    all_products = driver.find_elements(By.XPATH, "//div[@style='transform: translate3d(0px, 0px, 0px);']")

    # Extract data from each product listing
    for product in all_products:
        brand = product.find_element(By.XPATH, "./div[1]").text
        product_desc = product.find_element(By.XPATH, "./a[1]").text
        price = product.find_element(By.XPATH, "./a[2]/div/div").text

        # Create a dictionary to store product details
        product_dict = {
            "brand": brand,
            "product-description": product_desc,
            "price": price
        }

        # Append the dictionary to the list
        sunglass_products.append(product_dict)

    # Stop collecting data after 100 products have been collected
    if len(sunglass_products) >= 100:
        sunglass_products = sunglass_products[:100]
        break

    # Go to the next page of search results
    driver.find_element(By.XPATH, "//a[contains(., 'Next')]").click()

    # Pause execution for 3 seconds to allow the page to load
    time.sleep(3)

# Create a pandas DataFrame from the list of product data
df = pd.DataFrame(sunglass_products)

# Display the DataFrame
df

             brand                                product-description   price
0           OAKLEY                          Pitchman R Round Sunglass  ₹7,058
1           ARICKS  UV Protection, Toughened Glass Lens Retro Squa...    ₹318
2            SDEEP  UV Protection, Others Spectacle Sunglasses (Fr...    ₹185
3             SRPM             UV Protection Wayfarer Sunglasses (50)    ₹194
4       iCopertina     UV Protection Spectacle Sunglasses (Free Size)    ₹189
..             ...                                                ...     ...
95        Fastrack           Polarized Aviator Sunglasses (Free Size)  ₹2,087
96     john jacobs                UV Protection Round Sunglasses (53)  ₹3,599
97     Eyewearlabs  Polarized, UV Protection Rectangular Sunglasse...  ₹1,999
98  ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...    ₹392
99       METRONAUT             UV Protection, Riding Glasses Sunglass    ₹326

[100 rows x 3 columns]

# Question #5

In [116]:
# Open the product review page for the Apple iPhone 11
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market%20place=FLIPKART")

# Wait until the reviews are located
wait = WebDriverWait(driver, 10)

# Initialize an empty list to store review data
reviews = []

# Loop until 100 reviews have been collected
while True:
    # Wait for the reviews to load
    wait.until(EC.presence_of_all_elements_located((By.XPATH, "//div[@class='col']")))

    # Get all the reviews on the page, excluding the first one
    all_reviews = driver.find_elements(By.XPATH, "//div[@class='col']")[1:]

    # Extract data from each review
    for review in all_reviews:
        rating = review.find_element(By.XPATH, ".//div[@class='row'][1]/div").text
        review_summary = review.find_element(By.XPATH, ".//div[@class='row'][1]/p").text
        full_review = review.find_element(By.XPATH, ".//div[@class='row'][2]//div").text

        # Create a dictionary to store review details
        product_dict = {
            "rating": rating,
            "review-summary": review_summary,
            "full-review": full_review
        }

        # Append the dictionary to the list
        reviews.append(product_dict)

    # Stop collecting data after 100 reviews have been collected
    if len(reviews) >= 100:
        reviews = reviews[:100]
        break

    # Go to the next page of reviews
    driver.find_element(By.XPATH, "//a[contains(., 'Next')]").click()

    # Pause execution for 3 seconds to allow the page to load
    time.sleep(3)

# Create a pandas DataFrame from the list of review data
df = pd.DataFrame(reviews)

# Display the DataFrame
df

,rating,review-summary,full-review
0,5,Mind-blowing purchase,Photos super
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Terrific,Very very good
3,5,Wonderful,This is amazing at all
4,5,Just wow!,Perfect Product!!
...,...,...,...
95,5,Great product,Superb Phone..
96,5,Wonderful,Quality camera
97,5,Just wow!,Loved it!!
98,5,Wonderful,Its good.. a little heavy on my pinky but its ...
99,5,Great product,I was using android phone earlier..I was think...

# Question #6

In [121]:
# Open the flipkart.com website
driver.get("https://www.flipkart.com/")

# Wait until the search input field is located
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_element_located((By.XPATH, "//input[@title='Search for Products, Brands and More']")))

# Input the product name (sneakers) in the search field
driver.find_element(By.XPATH, "//input[@title='Search for Products, Brands and More']").send_keys("sneakers")

# Click the search button
driver.find_element(By.XPATH, "//button[@type='submit']").click()

# Initialize an empty list to store product data
sneaker_products = []

# Loop until 100 products have been collected
while True:
    # Wait for the product listings to load
    wait.until(EC.presence_of_all_elements_located((By.XPATH, "//div[@style='transform: translate3d(0px, 0px, 0px);']")))

    # Get all the product listings on the page
    all_products = driver.find_elements(By.XPATH, "//div[@style='transform: translate3d(0px, 0px, 0px);']")

    # Extract data from each product listing
    for product in all_products:
        brand = product.find_element(By.XPATH, "./div[1]").text
        product_desc = product.find_element(By.XPATH, "./a[1]").text
        price = product.find_element(By.XPATH, "./a[2]/div/div").text

        # Create a dictionary to store product details
        product_dict = {
            "brand": brand,
            "product_desc": product_desc,
            "price": price
        }

        # Append the dictionary to the list
        sneaker_products.append(product_dict)

    # Stop collecting data after 100 products have been collected
    if len(sneaker_products) >= 100:
        sneaker_products = sneaker_products[:100]
        break

    # Go to the next page of search results
    driver.find_element(By.XPATH, "//a[contains(., 'Next')]").click()

    # Pause execution for 3 seconds to allow the page to load
    time.sleep(3)

# Create a pandas DataFrame from the list of product data
df = pd.DataFrame(sneaker_products)

# Display the DataFrame
df

              brand                                       product_desc   price
0             Sparx    Women SL-158 Sea Green White Sneakers For Women    ₹463
1          WOODLAND                                   Sneakers For Men  ₹2,096
2              aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹387
3          Magnolia                                   Sneakers For Men    ₹299
4            BRUTON               Modern Trendy Shoes Sneakers For Men    ₹299
..              ...                                                ...     ...
95          LIBERTY                   Gliders RIDER-E Sneakers For Men    ₹769
96  U.S. POLO ASSN.                              LARS Sneakers For Men  ₹2,880
97       HIGHLANDER                                   Sneakers For Men    ₹759
98      bacca bucci  Comfy Mid-Top Casual Chunky Streetwear Fashion...  ₹1,599
99           VENDOZ                       CNV6012WT Sneakers For Women    ₹499

[100 rows x 3 columns]

# Question #7

In [131]:
# Open the amazon.in website
driver.get("https://www.amazon.in/")

# Wait until the search input field is located
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_element_located((By.ID, "twotabsearchtextbox")))

# Input the product name (Laptop) in the search field
driver.find_element(By.ID, "twotabsearchtextbox").send_keys("Laptop")

# Click the search button
driver.find_element(By.ID, "nav-search-submit-button").click()

# Wait until the product listings are located
wait.until(EC.presence_of_element_located((By.XPATH, "//span[@class='a-size-medium a-color-base a-text-normal']")))

# Set the CPU Type filter to 'Intel Core i7'
driver.find_element(By.XPATH, '//li[contains(., "Intel Core i7")]/span/a/div').click()

# Pause execution for 3 seconds to allow the page to load
time.sleep(3)

# Initialize an empty list to store product data
laptops_list = []

# Get all the product listings on the page, but only process the first 10
all_products = driver.find_elements(By.XPATH, "//div[contains(@class, 's-card-container') and contains(@class, 'aok-relative') and contains(@class, 'puis')]")
for product in all_products[:10]:
    title = product.find_element(By.XPATH, ".//h2").text
    try:
        rating = product.find_element(By.XPATH, ".//span[@class='a-size-base s-underline-text']").text
    except:
        rating = "No rating"
    price = product.find_element(By.XPATH, ".//span[@class='a-price-whole']").text

    # Create a dictionary to store product details
    product_dict = {
        "title": title,
        "rating": rating,
        "price": price
    }

    # Append the dictionary to the list
    laptops_list.append(product_dict)

# Create pandas dataframe from the list of product data
df = pd.DataFrame(laptops_list)

# Display the DataFrame
df

                                               title rating     price
0  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...      2    70,990
1  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...    234    61,990
2  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...      9    62,990
3  Acer Nitro 5 AN515-58 Gaming Laptop 12th Gen I...     50  1,04,990
4  Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...      3    86,420
5  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...     28  1,15,990
6  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    182    96,490
7  MSI Katana 15, Intel 12th Gen. i7-12650H, 40CM...      5    92,424
8  Dell Inspiron 5630 13th Gen Laptop, Intel Core...      5    89,880
9  Acer Predator Helios Neo 16 Gaming Laptop 13th...     30  1,29,990

# Question #8

In [124]:
# Open the azquotes.com website
driver.get("https://www.azquotes.com/")

# Wait until the 'Top Quotes' link is located
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_element_located((By.XPATH, "//a[contains(., 'Top Quotes')]")))

# Click on the 'Top Quotes' link
driver.find_element(By.XPATH, "//a[contains(., 'Top Quotes')]").click()

# Initialize an empty list to store quotes data
thousand_quotes = []

# Loop until 1000 quotes have been collected
while True:
    # Wait until the quote listings are located
    wait = WebDriverWait(driver, 10)
    wait.until(EC.presence_of_all_elements_located((By.XPATH, "//ul[@class='list-quotes']/li")))

    # Get all the quotes on the page
    quotes = driver.find_elements(By.XPATH, "//ul[@class='list-quotes']/li")
    for quote in quotes:
        # Get the quote text
        quote_text = quote.find_element(By.XPATH, ".//a[@class='title']").text
        # Get the author name
        author_name = quote.find_element(By.XPATH, ".//div[@class='author']").text
        # Get the tags
        tags = ""
        all_tags = quote.find_elements(By.XPATH, ".//div[@class='tags']/a")
        for tag in all_tags:
            tags += tag.text + ", "

        # Create a dictionary to store quote details
        quote_dict = {
            "quote": quote_text,
            "author": author_name,
            "tags": tags
        }

        # Append the dictionary to the list
        thousand_quotes.append(quote_dict)

    # Stop collecting data after 1000 quotes have been collected
    if len(thousand_quotes) >= 1000:
        thousand_quotes = thousand_quotes[:1000]
        break

    # Go to the next page of quotes
    try:
        driver.find_element(By.XPATH, "//a[contains(., 'Next')]").click()
    except:
        break

# Create a pandas DataFrame from the list of quotes data
df = pd.DataFrame(thousand_quotes)

# Display the DataFrame
df

,quote,author,tags
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism,"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying,"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War,"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death,"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic,"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational,"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About,"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort,"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga,"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education,"

# Question #9

In [125]:
# Open the jagranjosh.com website
driver.get("http://www.jagranjosh.com/")

# Wait until the 'GK' link is located
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_element_located((By.XPATH, "//a[contains(., 'GK')]")))

# Click on the 'GK' link
driver.find_element(By.XPATH, "//a[contains(., 'GK')]").click()

# Pause execution for 3 seconds to allow the page to load
time.sleep(3)

# Click on the 'List of all Prime Ministers of India' link
driver.find_element(By.XPATH, "//a[contains(., 'List of all Prime Ministers of India')]").send_keys(Keys.ENTER)

# Wait until the table of prime ministers is located
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_element_located((By.XPATH, "//table/tbody[1]/tr")))

# Initialize an empty list to store prime minister data
pms_list = []

# Get all the rows in the table
pm_table_rows = driver.find_elements(By.XPATH, "//table/tbody[1]/tr")

# Loop through each row in the table
for row in pm_table_rows:
    try:
        # Get the prime minister's name
        name = row.find_element(By.XPATH, "./td[2]").text
        # Get the prime minister's birth and death years
        born_dead = row.find_element(By.XPATH, "./td[3]").text
        # Get the prime minister's term of office
        term_of_office = row.find_element(By.XPATH, "./td[4]").text
        # Get any remarks about the prime minister
        remark = row.find_element(By.XPATH, "./td[5]").text
    except:
        continue

    # Create a dictionary to store the prime minister's details
    pm_dict = {
        "name": name,
        "born-dead": born_dead,
        "term-of-office": term_of_office,
        "remark": remark
    }

    # Append the dictionary to the list
    pms_list.append(pm_dict)

# Create a pandas DataFrame from the list of prime minister data
df = pd.DataFrame(pms_list)

# Display the DataFrame
df

,name,born-dead,term-of-office,remark
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

# Question #10

In [126]:
# Open the motor1.com website
driver.get("https://www.motor1.com/")

# Wait until the search bar is located
wait = WebDriverWait(driver, 10)
wait.until(EC.presence_of_element_located((By.ID, "search_input")))

# Find the search bar and enter "50 most expensive cars"
search = driver.find_element(By.ID, "search_input")
search.send_keys("50 most expensive cars")
search.send_keys(Keys.ENTER)

# Pause execution for 3 seconds to allow the search results to load
time.sleep(3)

# Click on the link to the '50 Most Expensive Cars In The World' article
driver.find_element(By.XPATH, "//a[contains(., '50 Most Expensive Cars In The World')]").click()

# Initialize an empty list to store car data
expensive_cars = []

# Get all the cars in the list
all_cars = driver.find_elements(By.XPATH, "//ul")[1].find_elements(By.XPATH, "./li")

# Loop through each car in the list
for car in all_cars:
    try:
        # Get the car's name and price, which are separated by " - "
        car_name = car.text.split(" - ")[0]
        car_price = car.text.split(" - ")[1]
    except:
        # If the car's name and price are not separated by " - ", try splitting by ":"
        car_name = car.text.split(":")[0]
        car_price = car.text.split(":")[1]

    # Create a dictionary to store the car's details
    car_dict = {
        "car-name": car_name,
        "price": car_price
    }

    # Append the dictionary to the list
    expensive_cars.append(car_dict)

# Create a pandas DataFrame from the list of car data
df = pd.DataFrame(expensive_cars)

# Display the DataFrame
df

                           car-name           price
0                         Drako GTE    $1.2 Million
1                      DeTomaso P72    $1.3 Million
2                 Ferrari LaFerrari    $1.4 Million
3                     Pagani Huayra    $1.4 Million
4                       Czinger 21C    $1.7 Million
5                     Ferrari Monza    $1.7 Million
6                Gordon Murray T.33    $1.7 Million
7                 Koenigsegg Gemera    $1.7 Million
8                      McLaren Elva    $1.7 Million
9                       Zenvo TSR-S    $1.7 Million
10               Hennessey Venom F5    $1.8 Million
11                  Bentley Bacalar    $1.9 Million
12    Hispano Suiza Carmen Boulogne    $1.9 Million
13           Bentley Mulliner Batur    $2.0 Million
14                     Deus Vayanne    $2.0 Million
15                      SSC Tuatara   $2.0 Million*
16                      Lotus Evija    $2.1 Million
17              Aston Martin Vulcan    $2.3 Million
18                       Delage D12    $2.3 Million
19                McLaren Speedtail    $2.3 Million
20                     Rimac Nevera    $2.4 Million
21                    Pagani Utopia    $2.5 Million
22             Pininfarina Battista    $2.5 Million
23                Ferrari FXX K Evo    $2.6 Million
24               Gordon Murray T.50    $2.6 Million
25             Lamborghini Countach    $2.6 Million
26         Mercedes-AMG Project One    $2.7 Million
27              Aston Martin Victor    $3.0 Million
28      Hennessey Venom F5 Roadster    $3.0 Million
29                 Koenigsegg Jesko    $3.0 Million
30            Aston Martin Valkyrie    $3.2 Million
31        W Motors Lykan Hypersport    $3.4 Million
32                    McLaren Solus    $3.5 Million
33        Pagani Huayra Roadster BC    $3.5 Million
34         Bugatti Chiron Pur Sport    $3.6 Million
35                 Lamborghini Sian    $3.6 million
36                 Koenigsegg CC850    $3.7 Million
37  Bugatti Chiron Super Sport 300+    $3.9 Million
38               Lamborghini Veneno    $4.5 Million
39                   Bugatti Bolide    $4.7 Million
40                  Bugatti Mistral    $5.0 Million
41              Pagani Huayra Imola    $5.4 Million
42                     Bugatti Divo    $5.8 Million
43              SP Automotive Chaos    $6.4 Million
44                 Pagani Codalunga    $7.4 Million
45         Mercedes-Maybach Exelero    $8.0 Million
46               Bugatti Centodieci    $9.0 Million
47             Rolls-Royce Sweptail   $12.8 Million
48         Bugatti La Voiture Noire   $13.4 Million
49            Rolls-Royce Boat Tail  $28.0 Million*

In [132]:
driver.quit()